img(src="#{rootPath}/assets/img/ruby.png", alt="what a long image, eh?")

p.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident,
  sunt in culpa qui officia deserunt mollit anim id est laborum.
p.
  Sapien nec sagittis aliquam malesuada bibendum arcu vitae.
  Curabitur gravida arcu ac tortor. Pretium aenean pharetra magna ac.
  Sit amet luctus venenatis lectus magna fringilla urna porttitor rhoncus.
  Ultricies mi quis hendrerit dolor.
  Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus.
  Feugiat in fermentum posuere urna nec. Accumsan tortor posuere ac ut.
  Quam lacus suspendisse faucibus interdum.
  Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis.
  Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper.
  Pellentesque habitant morbi tristique senectus. Et malesuada fames ac turpis.
  Feugiat nibh sed pulvinar proin gravida hendrerit lectus.
  Varius sit amet mattis vulputate. Volutpat odio facilisis mauris sit.
  Viverra orci sagittis eu volutpat odio facilisis mauris sit. Turpis tincidunt id aliquet risus.
img(src="http://lorempixel.com/400/200", alt="")
p.
  Enim facilisis gravida neque convallis.
  Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat.
  Nec sagittis aliquam malesuada bibendum. Mattis aliquam faucibus purus in massa tempor.
  Diam sollicitudin tempor id eu nisl. Tellus in metus vulputate eu scelerisque felis imperdiet.
  Vel fringilla est ullamcorper eget nulla facilisi.
  Risus sed vulputate odio ut enim. Commodo nulla facilisi nullam vehicula.
  Nisi quis eleifend quam adipiscing vitae proin sagittis.
  Quis ipsum suspendisse ultrices gravida dictum fusce.
p.
  Nisi quis eleifend quam adipiscing vitae proin sagittis nisl.
  Tristique senectus et netus et malesuada fames ac.
  Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum.
  In hac habitasse platea dictumst vestibulum.
  Velit egestas dui id ornare arcu odio ut sem nulla.
  Accumsan in nisl nisi scelerisque eu ultrices vitae auctor eu.
  Nibh tellus molestie nunc non blandit massa. Phasellus vestibulum lorem sed risus ultricies.
  Aliquet eget sit amet tellus cras adipiscing enim.
  Ac ut consequat semper viverra nam libero justo.
  Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor.
img(src="http://lorempixel.com/400/200", alt="")
p.
  Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat.
  Sem viverra aliquet eget sit. Faucibus a pellentesque sit amet porttitor eget dolor morbi.
  Amet tellus cras adipiscing enim eu turpis egestas pretium aenean.
  Quam id leo in vitae turpis massa sed elementum.
  Adipiscing bibendum est ultricies integer quis auctor.
  Ac feugiat sed lectus vestibulum mattis ullamcorper.
  Enim nulla aliquet porttitor lacus luctus accumsan tortor.
  Eu volutpat odio facilisis mauris sit amet massa vitae tortor.
  Tempor orci dapibus ultrices in. Arcu bibendum at varius vel pharetra vel turpis nunc eget.
  Metus dictum at tempor commodo ullamcorper a lacus vestibulum.
  Scelerisque mauris pellentesque pulvinar pellentesque habitant.
  Sit amet dictum sit amet justo. Orci porta non pulvinar neque laoreet suspendisse interdum.
  Bibendum ut tristique et egestas quis ipsum. Diam phasellus vestibulum lorem sed risus.
  Nisl vel pretium lectus quam id leo in vitae turpis. Elementum eu facilisis sed odio morbi quis.
p.
  Massa tempor nec feugiat nisl. Mattis molestie a iaculis at erat.
  In eu mi bibendum neque egestas congue quisque egestas diam.
  Rutrum tellus pellentesque eu tincidunt. Fermentum posuere urna nec tincidunt praesent semper.
  Id faucibus nisl tincidunt eget nullam non nisi est.
  Viverra nam libero justo laoreet sit. Suspendisse ultrices gravida dictum fusce ut.
  Tristique magna sit amet purus gravida quis blandit. Enim nunc faucibus a pellentesque sit.
  Vitae ultricies leo integer malesuada nunc vel.