// Bulma is needed
.modal {
  .modal-background {
    background-color: rgba($theme-color-0, .80);

    @media (prefers-color-scheme: dark) {
      background-color: rgba($theme-color-dark-2, .80);
    }
  }

  .modal-card {
    padding: 0 2vw;

    .modal-card-body {
      background-color: $theme-color-1;

      @media (prefers-color-scheme: dark) {
        background-color: $theme-color-dark-0;
      }
    }
  }
}
