.navbar-brand {
  .navbar-item {
    display: block;
    width: 100px;

    .logo {
      background-position: center;
      background-size: cover;
      height: 32px;
      width: 100%;
      width: -moz-available;
      width: -webkit-fill-available;
      width: fill-available;

      @media (prefers-color-scheme: light) {
        background-image: url('https://jcchikikomori.github.io/portfolio/img/jcc_logo.png');
      }

      @media (prefers-color-scheme: dark) {
        background-image: url('https://jcchikikomori.github.io/portfolio/img/jcc_logo_w.png');
      }
    }
  }
}

.navbar-menu {
  .navbar-item {
    padding: .5rem;

    &:hover, &:focus {
      @media (prefers-color-scheme: dark) {
        background-color: $theme-color-dark-1;
        color: $theme-color-dark-8;
      }
    }
  }
}
