// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

html {
  body {
    font-family: 'Helvetica';
    height: 100%;
    // margin: 0;
    // padding: 50px 0;
    text-align: center;

    h1 {
      font-size: inherit;
      font-weight: inherit;
    }

    h2 {
      font-size: inherit;
      font-weight: inherit;
    }

    .link+.link {
      margin-left: .5rem;
    }

    .-paragraph {
      margin-top: 1rem;
      text-align: -webkit-auto;
      white-space: pre-line;
      word-break: normal;
    }

    @media (prefers-color-scheme: dark) {
      color: $theme-color-dark-8;

      hr {
        background-color: $theme-color-dark-1;
      }
    }
  }
}

.container {
  .content {
    h1, h2, h3 {
      border-radius: .5rem;
      display: inline-block;
    }

    @media (prefers-color-scheme: dark) {
      h1 {
        background-color: $theme-color-dark-1;
        color: $theme-color-dark-8;
        padding: .5rem;
      }
    }
  }
}
