h2 It begins in YouTube (of course, lol)
iframe(width="790" height="395" src="https://www.youtube.com/embed/KBXTnrD_Zs4"
       title="YouTube video player" frameborder="0"
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
p.
  It began in a YouTube video that it says that we can block
  any ads you want including YouTube ads which is i became interested on how
  an DNS server can do the trick. For context, I HATE ADS, not because of their 
  system, but the content were just awful and not suitable.
  One of them was the mobile games, especially the ones made with Unity Game engine.
p.
  That time i am broke and cannot buy a specific hardware like Raspberry Pi, plus
  i am not yet fully convinced or i was still skeptical if it's really working.
  So, i decided to rent a VPS or Virtual Private Server which is one of my worst decisions
  that time because it was more expensive to manage than to buy Raspberry Pi, but
  SPOILERS: It became useful for my load balancing project (lols)

h2 PiHole was not my thing back then
p.
  At first, i don't understand on setting it all up, since i don't study networking stuff,
  except the Wifi routers (came from the manual & YOUTUBE too :kekw:), so i followed their
  guide very carefully, but i didn't set the DNS address in my router because i was already
  convinced that it might not work, plus the router was for everything so i cannot disturb
  them while they are doing online classes or work.
p.
  So, the setup was done, and it works, but i wanted to know about the filter lists
img(src="#{rootPath}/assets/img/filterlists.png", alt="")
p.
  Filter lists are like the library, but the books are about lists of websites, domains,
  hostnames, etc., with the return value like 0.0.0.0 which is NODATA
  (no data will be received, so no ads :wink:) according to their documentation
p.
  These lists might not work on yours, but it really depends on what kind of content
  you wanted to block (e.g: Porn, Gambling, Online Games, Social Media, etc.)

h2 Found the biggest problem
p.
  Coming soon

h3 DNS Settings on various mobile devices
p.
  Coming soon

h2 AdBlocking alternatives
p.
  Coming soon

h3 Cloudflare
p.
  Coming soon

h3 OpenDNS
p.
  Coming soon

h3 AdHole
p.
  Coming soon

h3 NextDNS
p.
  Coming soon

h2 Zoomer reacts to DNS-over-TLS & DNS-over-HTTPS for the first time
p.
  Coming soon

h2 Bought the hardware, but still broke
p.
  Coming soon

h2 Setting up my own DNS Server in this "smol" hardware
p.
  Coming soon

h2 Tried AdGuard Home
p.
  Coming soon

h2 How about load balancing between VPS and my Home server
p.
  Coming soon

