footer.footer
  .container
    p Copyright&nbsp;
      span(id="year") 2021
    br
    p Version #[a(target="_blank" href="https://github.com/jcchikikomori/blog/releases/tag/v#{version}") #{version}]
    p See my progress #[a(target="_blank" href="https://github.com/jcchikikomori/blog/milestones?direction=asc&sort=title&state=open") here.]
script(type='module' src="#{rootPath}/assets/js/index.js")
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-53297367-3")
script(async src="https://cse.google.com/cse.js?cx=8eecca0172cbfc116")