section.-maintenance.hero.is-warning
  div.hero-body
    h1.title.is-1 Hello!
    h2.subtitle.is-2 This Blog is currently under development.
    p See my progress #[a(href="https://github.com/jcchikikomori/blog/milestones") here.]