nav.navbar(role='navigation' aria-label='main navigation')
  div.container
    .navbar-brand
      a.navbar-item(href="#{rootPath}/")
        //- img(src='https://jcchikikomori.github.io/portfolio/img/jcc_logo.png' height='28')
        .logo
      a.navbar-burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarBasicExample')
        span(aria-hidden='true')
        span(aria-hidden='true')
        span(aria-hidden='true')
    #navbarBasicExample.navbar-menu
      .navbar-start
        a.navbar-item(href="#{rootPath}/") Home
        a.navbar-item(href="#{rootPath}/articles") Articles
      .navbar-end
        a.navbar-item(href="#{rootPath}/about") About
