h1(id='title' data-title='About') About
h2 About my Blog Site
p Ermm... another blog site?
p.-paragraph.
  Yes, another one!
  
  For the past 6 years of my computing world, I am finding ways to share my amazing
  journey & experiences from being a broke-ass teenage geek, into a corporate slave/developer.
  
  When I started learning the world wide web in 2008,
  I was curious about learning HTML & CSS as my beginning to become a web developer,
  while staring at the #[a(href='https://facebook.com' target='_blank') Facebook] screen.
  Yes, the good 'ole Facebook with Flash Player to play Tetris Battle!
  
  In the early 2010s, I was on board writing my own blog in pure HTML & CSS,
  that time was the beginning of my web hosting journey.
  I used to upload my build into an unsafe web hosting site using FTP.
  Then a few years later I realized that my URL was not recognized on Google like
  something's off (I didn't know SEO back then), then the Google Chrome browser
  marks my website as unsafe because that time that I used a web hosting service
  was not using HTTPS or unable to provide one (of course I didn't know certificates & encryption),
  then I stopped publishing my blog on early 2014. Then the senior college days came out!
  
  Back in 2015, I've learned that Facebook was made from the ground up using a
  programming language called PHP, so I learned that language, then I also learned Apache,
  the lightweight web server for hosting stuff especially PHP.
  That time was the most fun that I ever had. I've managed to host a secure web hosting service
  and also I pay for creating a domain and host server just to secure our thesis.
  More years later, I've discovered a Content Management System called WordPress.
  I thought managing WordPress-based sites was the bread & butter for me. But it's not.
  Although the learning curve of using PHP was minimal, however
  in security stuff (PHP is being vulnerable lately) and optimizing the performance was
  really time-consuming, back then I didn't know the Quality Assurance stuff so
  I cannot create unit tests on every WordPress project that I own, even on my own blog
  that was made from the ground up. Also, I am still clueless on SEO or Search Engine Optimization,
  should I study Data Science for this? So I stopped using WordPress for a while.
  
  So in 2021 this year, I've been using other blog platforms such as Drupal
  (which is I stopped immediately LOL), also Medium which is nearly the easiest, but
  it's so expensive to manage. And then until now, I've discovered static web pages,
  including Github Pages. I was curious about how about updating the content, etc.
  I've learned that it's much easy to just code in Markdown or PUG/JADE,
  and your simple code would generate into a normal, compressed HTML file.
  So this solution should ease my blogging, and I don't have to worry about SEO, or Analytics crap, etc.

