h1 My Blog Site
h2 "Ermm... another blog site?"
p.-paragraph.
  Yes, another one! For the past 6 years of my computing world,
  i am finding ways to share my amazing journey & experiences
  from being a broke-ass teenage geek, into a corporate slave/developer.

  When i started learning world wide web in 2008, i was curious about learning
  HTML & CSS as my beginning to become a web developer, while staring at the
  Facebook screen. Yes the good 'ol Facebook with Flash Player to play Tetris Battle!

  In early 2010s, I was on board writing my own blog in pure HTML & CSS, that time
  was the beginning of my web hosting journey. I used to upload my build into a
  unsafe web hosting site using FTP. Then few years later i realized that my URL was not
  recognized on Google, like something's off (I didn't know SEO back then), then
  the Google Chrome browser marks my website as unsafe because that time that i used
  a web hosting service was not using HTTPS or unable to provide one
  (of course i didn't know certificates & encryption), then i stopped publishing my blog
  on early 2014.

  Then the senior college days came out! Back in 2015, i've learned that Facebook was made
  from the ground up using a programming language called PHP, so i learned that language,
  then i also learned Apache, the lightweight web server for hosting stuffs especially PHP.
  That time was the most fun that i ever had. I've managed to host a secure web hosting service and also
  i pay for creating a domain and host server just to secure our thesis.

  More years later, I've discovered a Blog CMS called WordPress. I though managing a
  WordPress was a bread & butter for me. But it's not. Although the learning curve of
  using PHP was minimal, however in security stuff (PHP is being vulnerable lately)
  and optimizing the performance was really time consuming, back then i didn't know
  the Quality Assurance stuff so i cannot create unit tests on every WordPress project
  that i own, even on my own blog that was made from the ground up. Also i am still clueless
  on SEO or Search Engine Optimization, like should i study Data Science for this?
  So i stopped using WordPress for a while.

  So in 2021 this year, i've been using other blog platforms such as Drupal (which is i stopped immediately LOL),
  also Medium which is nearly the easiest, but it's so expensive to manage. And then until now,
  i've discovered the static web pages, including Github Pages. I was curious like how about
  updating the content, etc. I've learned that it's much easy to just code in Markdown or PUG/JADE,
  and your simple code would generate into a normal, compressed HTML file.

  So this solution should easy my blogging, and i don't have to worry about SEO, or Analytics crap, etc.
  .